// $lightest:  #f6f6f6;
// $light:     #eeeeee;
// $dark:      #e6e6e6;
// $darkest:   #dedede;

// $fontColor: #0f0f0f;

// colors
$lightest:  #2e2e2e;
$light:     #161616;
$dark:      #1e1e1e;
$darkest:   #161616;

$fontColor: #f6f6f6;
$darkFontColor: #d0d0d0;
$darkerFontColor: #b0b0b0; // haha bobobo

// sizes
$maxHeight: 100%;
$thinItemThickness: 30px;

$thinItemFontSize: 12pt;