/*************************************************************
 * 
 *        File: colors.scss
 *
 * Description: Contains the colors commonly used in 
 *              Ngineer's user interface.
 * 
 *************************************************************/

$lightest:  #f6f6f6;
$light:     #eeeeee;
$dark:      #e6e6e6;
$darkest:   #dedede;

$fontColor: #0f0f0f;