/*************************************************************
 * 
 *        File: leftRibbonMenu.scss
 *
 * Description: Contains styling for the elements that 
 *              populate the left ribbon menu.
 * 
 *************************************************************/

/* ========================= Imports ========================= */
@use "colors";
@use "structure";

.leftRibbonMenuFileItem
{
    // Sizing
    height: structure.$thinItemThickness;
    width: 90%;

    // Formatting
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    margin-left: 5%;
    overflow-x: hidden;

    // Coloring
    background-color: colors.$lightest;
}