/*************************************************************
 * 
 *        File: structure.scss
 *
 * Description: Contains the basic layout for the Ngineer GUI.
 * 
 *************************************************************/

/* ========================= Imports ========================= */
@use "colors";

/* ========================= Variables ========================= */
$thinItemThickness: 30px;

/* Comment/uncomment to see most tag borders */
// .debug { border: 1px dashed red; }

/*
 * The outermost div in the HTML document.
 */
.outermost
{
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100vh;
    width: 100%;
}

/* 
 * The style used by elements that should be in the 
 * left ribbon portion of the UI. 
 */
.left
{
    float: left;
    width: 15%;
    height: 100%;
}

/* 
 * The style used by elements that should be in the 
 * right portion of the UI.  
 */
.right
{
    flex-grow: 1;
    height: 100%;
}

/* 
 * The element used to contain the ribbons at 
 * the top of the page.
 */
#top
{
    height: $thinItemThickness;
}

/* 
 * The element used to contain the model pane
 * and the left ribbon menu in the UI.
 */
#mid
{
    flex: 1;
}

/* 
 * The outermost element in the left ribbon menu. 
 */
#leftRibbon
{
    background-color: colors.$lightest;
}

/* 
 * The element containing the "Files" and "Model"
 * tabs in the 
 */
#leftRibbonTabSelect
{
    display: flex;
}

.leftRibbonTab
{
    /* Styling */
    flex: 1;

    /* Content */
    justify-content: left;

    /* Colors */
    background-color: colors.$lightest;
}

/* 
 * The styling used specifically by the Model
 * Tab in the left ribbon menu. 
 */
#modelTab
{
    background-color: colors.$dark;
}

/* 
 * The styling used by the Project Tabs Bar, which
 * contains a variable number of tabs for each open
 * file in the editor.
 */
#projTabsBar
{
    background-color: colors.$dark;
}

/* 
 * The style used by the debug ribbon at the bottom 
 * of the HTML document.
 */
#debugRibbon
{
    /* Positioning */
    left: 0px;
    bottom: 0px;
 
    /* Sizing */
    width: 100%;
    height: $thinItemThickness;

    /* Colors */
    background-color: #dedede;
}